ENV=local

JWT_SECRET=secret

MYSQL_ROOT_PASSWORD=root

MYSQL_DATABASE=ecommerce

DB_HOST=mysql
DB_USER=root
DB_PASS=root

STRIPE_SECRET=

STRIPE_WEBHOOK_SECRET=

AWS_ACCESS_KEY=

AWS_SECRET=

AWS_REGION=ap-south-1

S3_BUCKET=ecommerce-bucket